<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trimple.servicesample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >

            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadActivity"
            android:label="@string/title_activity_main" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>

        <service
            android:name="com.trimple.services.MyService"
            android:enabled="true"
            android:process=":remote" >
                        <intent-filter>
            <action android:name="start.myservice" />


           
            </intent-filter>
            </service>
        <service 
            android:name="com.trimple.services.DownloadService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.trimple.services.DownloadService" />
            </intent-filter>
        </service>
    </application>

</manifest>